h4{
	display: inline;
	
}

h1{
	display:inline;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

}

nav {
	display: flex;
	justify-content:space-evenly;
	padding: 20px;
	width:600px;
}


*{
	background-color: #1A1A29;
	color: white;
}

#profile{
	display: inline;
	margin-left: auto;
	margin-right: 350px;
	height: auto;

}

#hero{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin-top: 100px;
}


.images{


}